.popular {
	height: max-content;

	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		min-height: 350px;
		background-image: linear-gradient(
				to right,
				rgba($dark-blue, 0.75) 0%,
				rgba($dark-blue, 0.75) 100%
			),
			url('https://image.tmdb.org/t/p/w1920_and_h427_multi_faces/zxfBtHz5UmSTfIEC4O4GngyjHwa.jpg');
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		margin-bottom: 2.7rem;
		width: stretch;

		&::after {
			content: '';
			width: 40px;
			height: 100%;
			position: absolute;
			top: 0;
			right: 0;
			background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0),
				$white
			);
		}
	}

	&__title {
		margin-left: 0.7rem;
		display: flex;
		align-items: center;
		gap: 20px;
		color: $white;
		margin-top: 2.7rem;
		overflow-x: auto;
		overflow-y: hidden;

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		h1 {
			font-size: 1.5rem;
		}
	}

	&__scroller {
		display: flex;
		margin-left: 0.7rem;
		margin-right: -2rem;
		padding-right: 2rem;
		gap: 20px;
		min-width: stretch;
		overflow-x: auto;
		scroll-behavior: smooth;
		margin-top: 2rem;
		padding-bottom: 1rem;
		overflow-y: hidden;
		height: 350px;
		position: relative;

		@include breakpoint-down(medium) {
			margin-right: -0.7rem;
		}

		/* Hide scrollbar for Chrome, Safari and Opera */
		&::-webkit-scrollbar {
			display: none;
		}

		/* Hide scrollbar for IE, Edge and Firefox */
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}
