.dropdown {
	font-size: 0.9rem;

	&__wrapper {
		background-color: #e4e7eb;
		border-radius: 5px;
		border: 1px solid #e4e7eb;
	}

	&__title {
		padding: 0.5rem;
		cursor: pointer;
		display: flex;

		gap: 10px;
		justify-content: space-between;

		h4 {
			font-weight: 200;
			font-size: 0.9rem;
			display: -webkit-box;
			overflow: hidden;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
		}
	}

	&__container {
		display: none;

		&.open {
			display: block;
		}
	}

	&__list {
		border-top: 1px solid $dark-grey;
		display: flex;
		flex-direction: column;
		padding: 0.5rem 0rem;
	}

	&__item {
		cursor: pointer;
		padding: 0.5rem 1rem;
		transition: background-color 150ms ease-in-out;
		font-weight: 200;
		font-size: 0.9rem;

		&:hover {
			background-color: $dark-grey;
		}

		&.active {
			background-color: rgba(255, 255, 255, 0.7);
			font-weight: 500;

			&:hover {
				background-color: $white;
			}
		}
	}
}
