.person {
	width: calc(100% / 5 - 20px);
	border: 1px solid $light-grey;
	box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

	@include breakpoint-down(medium) {
		width: calc(100% / 3 - 20px);
		max-width: 200px;
	}

	@include breakpoint-down(small) {
		width: calc(100% / 2 - 20px);
	}

	@include breakpoint-down(xsmall) {
		width: calc(100% / 1 - 20px);
	}

	&__upper {
		height: 200px;
	}

	&__image {
		background-color: rgba(0, 0, 0, 0.3);
		width: stretch;
		height: stretch;
		object-fit: cover;
		position: relative;
		object-position: 50% 15%;
	}

	&__lower {
		margin: 0.5rem;
		display: flex;
		justify-content: center;
		height: calc(75px - 16px);
		flex-direction: column;
		gap: 5px;
		height: max-content;
	}

	&__name {
		color: $black;
		font-size: 1rem;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}

	&__details {
		font-weight: 100;
		font-size: 0.75rem;
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
	}
}
