.card {
	display: flex;
	flex-direction: column;
	min-width: 150px;
	position: relative;

	&__upper {
		height: 250px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 10px;
		overflow: hidden;
		cursor: pointer;

		z-index: 1;
	}

	&__image {
		width: stretch;
		height: stretch;
		object-fit: cover;
	}

	&__rating {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 225px;
		left: 10px;
		z-index: 1;
	}

	&__lower {
		padding-top: 1.7rem;
	}

	&__name {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;

		&.secondary {
			color: $white;
		}
	}

	&__date {
		z-index: 1;
		color: $dark-grey;
	}
}
