.header {
	background-color: $dark-blue;
	z-index: 999;
	width: stretch;
	height: $header__height;

	&__nav {
		width: stretch;
		height: stretch;
		margin: auto;
	}
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: stretch;
	margin: 0rem 0.7rem;
	height: stretch;

	h1 {
		font-size: 2rem;
	}
}

.nav__list {
	display: flex;
	gap: 20px;
}

.nav__link {
	color: $font-light;
}
