//neutral
$white: #ffffff;
$black: #000000;

//blue
$dark-blue: rgb(3, 37, 65);
$light-blue: rgb(1, 180, 228);

//green
$light-green: #1ed5a9;
$lighter-green: #c0fecf;

//grey
$dark-grey: #c8c8c8;
$light-grey: #e3e3e3;
$scroller-grey: #dbdbdb;

$faded-black: rgba(0, 0, 0, 0.85);

$font-light: $white;

$header__height: 4rem;
